<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwinIR: Restore</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 h-screen flex flex-col justify-between">

    <header class="w-full bg-blue-300 py-2 px-4 fixed top-0 z-10">
        <h1 class="text-4xl font-bold text-black text-left"><a href="https://github.com/jingyunliang/swinir" class="text-blue-700 hover:underline" target="_blank">SwinIR: Restore</a></h1>
    </header>

    <div class="flex justify-center items-center py-4 mt-4">
        <div class="max-w-full px-8">
            <div class="bg-blue-100 rounded-lg shadow-lg">
                <div class="p-6">
                    <p class="text-center text-gray-700">
                        El algoritmo SwinIR emplea un enfoque basado en transformadores, que son arquitecturas de aprendizaje profundo altamente paralelas y con atención, para la restauración de imágenes. Funciona de la siguiente manera:
                        <br>
                        <br>
                        1. División en bloques: La imagen de entrada se divide en bloques más pequeños, lo que permite manejar eficientemente imágenes de alta resolución.
                        <br>
                        2. Extracción de características: Cada bloque se procesa individualmente a través de una red convolucional que extrae características relevantes de la imagen.
                        <br>
                        3. Atención espacial: Se utiliza la atención espacial para capturar relaciones de largo alcance entre los píxeles dentro de cada bloque, lo que ayuda a preservar los detalles y la coherencia global de la imagen.
                        <br>
                        4. Combinación de bloques: Una vez restaurados todos los bloques de la imagen, estos se combinan nuevamente para reconstruir la imagen restaurada en su totalidad.
                        <br>
                        5. Refinamiento: Se aplican técnicas de post-procesamiento para refinar y mejorar la calidad visual de la imagen restaurada, asegurando una representación precisa y realista.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <main class="flex-grow flex justify-center items-center pt-16 pb-20"> 
        <div class="text-center">
            <div class="flex justify-center">
                <div id="upload-container" class="rounded-xl border-2 border-dashed border-indigo-500 p-6 bg-indigo-800 text-white flex flex-col items-center" ondragover="event.preventDefault();" ondrop="handleDrop(event)">
                    <form action="/" method="post" enctype="multipart/form-data" class="w-full">
                        <div class="flex items-center justify-center mb-4">
                            <svg class="w-12 h-12 text-indigo-300" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8l5-5m0 0l5 5m-5-5v12"></path></svg>
                        </div>
                        <label class="bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded mb-2 cursor-pointer">
                            Cargar Imagen
                            <input type="file" name="file" id="inputFile" class="hidden" accept="image/jpeg, image/png, image/tiff" onchange="handleFileInput(event)">
                        </label>
                        <br>
                        <p id="drag-text" class="text-indigo-300">o arrastra un archivo</p>
                        
                        <!-- Contenedor de previsualización justo encima del botón "Mejorar imagen" -->
                        <div id="original-preview" class="hidden mt-4">
                            <img id="preview-image" alt="Imagen Original" class="rounded-lg"> <!-- Imagen con bordes redondeados -->
                        </div>
                        
                        <!-- Botón para mejorar la imagen -->
                        <button type="submit" class="bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded mt-4">Mejorar imagen</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    {% if processed_image %}
    <div class="flex flex-col items-center justificar-center my-4">
        <h2 class="text-xl font-bold text-gray-800">Imagen Mejorada</h2>
        <img src="{{ url_for('static', filename=processed_image) }}" alt="Processed Image" class="w-32 h-32"> <!-- Tamaño ajustado -->
        <a href="{{ url_for('static', filename=processed_image) }}" download class="mt-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer">
            Descargar Imagen
        </a>
    </div>
    {% endif %}

    <footer class="text-center py-4">
        <span class="text-sm text-gray-600">&copy; 2024 SwinIR. Todos los derechos reservados.</span>
    </footer>

    <script>
    // Función para previsualizar la imagen cargada
    function previewImage(files) {
        var preview = document.getElementById("preview-image");
        var originalPreviewContainer = document.getElementById("original-preview");
        var dragText = document.getElementById("drag-text");

        if (files && files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                preview.src = e.target.result;  // Asignar la imagen cargada al elemento `src` del `img`
                originalPreviewContainer.classList.remove('hidden'); // Mostrar el contenedor de la imagen
                dragText.classList.add('hidden'); // Ocultar el texto "o arrastra un archivo"
            };
            reader.readAsDataURL(files[0]); // Leer la imagen cargada
        }
    }

    // Función para manejar el evento de "soltar" la imagen
    function handleDrop(event) {
        event.preventDefault();
        var files = event.dataTransfer.files;
        var inputFile = document.getElementById("inputFile");
        inputFile.files = files; // Asigna los archivos al input

        // Llama directamente a la función de previsualización con los archivos soltados
        previewImage(files);
    }

    // Función para manejar el evento "change" del input file
    function handleFileInput(event) {
        previewImage(event.target.files);
    }
    </script>

</body>
</html>
